<header class="header">
    <div class="header-container">
        <a href="/"><img src="/img/logo.png" class="logo" alt=""></a>
        <div class="search-form-top">
            <form action="/dashboard/search" method="POST">
                <input type="search" name="searchTerm" id="searchTerm" required>
            </form>
        </div>
        <div class="buttons-div">
            <a href="/logout" class="button signin">Logout</a>
        </div>
    </div>
</header>