<footer class="footer">
    <div class="footer-container">
        <ul class="footer-content">
            <h3>Contact</h3>
            <li>Street abc drive</li>
            <li>City Muzaffarnagar</li>
            <li>State Uttar Pradesh</li>
            <li>Zip-code 251001</li>
            <li>Phone Number <a href="tel: +91-7417675813">+91-7417675813</a></li>
            <li>email <a href="mailto: Kumar.anshul9809@gmail.com">email us</a></li>
        </ul>
        <ul class="footer-content">
            <h3>Menu</h3>
            <li><a href="/">Home</a></li>
            <li><a href="/features">Features</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        <div class="footer-form">
            <h3>Subscribe to our newsletter</h3>
            <form action="/newsletterform" method="post">
                <input type="email" name="email" id="email" required>
                <button type="submit">Subscribe</button>
            </form>
        </div>
    </div>
    <p class="copyright">&copy; Anshul Kumar | All Rights Reserved.</p>
</footer>