<div class="inner-dashboard">
    <div class="user-title">
        <h1>Hey, Username</h1>
        <a href="/create-note" class="new-note"><h3>+ New Note</h3></a>
    </div>

    <div class="parent-note">
        <!-- <div class="blank-notes">
            
            <p class="">Seems like you don't have any notes right now. &#129300</p>        
            <a href="/create-note" class="new-note">New Note</a>
        </div> -->

        <div class="notes-wrapper">
            
        </div>

    </div>
</div>