<main>
    <section class="hero-main">
        <div class="hero-title">
            <h1 class="header">Page not Found</h1>
            <p class="subtitle">Page you are tyring to find may not exist.</p>
            <a href="/" class="hero-btn">Explore Notes</a>
        </div>
    </section>
</main>