<main>
    <section class="hero-main">
        <div class="hero-title">
            <h1 class="header">About Us</h1>
            <p class="subtitle">This project is built on node, express and mongoDB.</p>
            <p class="subtitle">Front-end of the project is built on pure HTML, CSS and JS without any framework or library</p>
            <a href="/auth/google" class="hero-btn">Try Notes</a>
        </div>
    </section>
</main>