<main>
    <section class="hero-main">
        <div class="hero-title">
            <h1 class="header">FAQs</h1>
            <p class="subtitle">Some of the FAQs are shown down below.</p>
            <a href="/auth/google" class="hero-btn">Try Notes</a>
        </div>
    </section>
    <section class="hero-features">
        <h2 class="title">Frequently Asked questions</h2>
            <div class="wrapper">
                <input type="checkbox" id="faq1">
                <h3><label for="faq1">What is this?</label></h3>
                <div class="panel">
                    <p class="faq-answer">This is a simple web application that allows you to create, edit and delete notes.</p>
                </div>
            </div>
            <div class="wrapper">
                <input type="checkbox" id="faq2">
                <h3><label for="faq2">How do i use it?</label></h3>
                <div class="panel">
                    <ol class="faq-answer">
                        <li>Click on "Sign in with Google" button at the top right corner. It will redirect you to your google account for authentication.</li>
                        <li><strong>Create:</strong> Click on "New Note" button in the top right corner. Fill out the form</li>
                    </ol>
                </div>
            </div>
            <div class="wrapper">
                <input type="checkbox" id="faq3">
                <h3><label for="faq3">Why should i use this over others?</label></h3>
                <div class="panel">
                    <ul class="faq-answer">
                        <li>It's free! No subscription needed. You can access all features without any cost.</li>
                        <li>You don't need an account to start using it. Just click on "try now".</li>
                        <li>The data stored in your browser will be encrypted so no one can see what you write there.</li>
                    </ul>
                </div>
            </div>
            <div class="wrapper">
                <input type="checkbox" id="faq4">
                <h3><label for="faq4">What if i forgot my password?</label></h3>
                <div class="panel">
                    <p class="faq-answer">There's no need for remembering the password as we've implemented the login using your google account. So you can simply click on the signin and it will redirect you to the google account from there you can log in to <strong>Notes</strong></p>
                </div>
            </div>
    </section>
</main>