
<main>
    <section class="hero-main">
        <div class="hero-title">
            <h1 class="header">Featues of our notes application</h1>
            <p class="subtitle">Some of the features are shown below</p>
            <a href="/auth/google" class="hero-btn">Try Notes now</a>
        </div>
    </section>
    <section class="hero-features">
        <h2 class="title">Features</h2>
        <div class="features-content">
            <div class="row">
                <div class="col-4 feature">
                    <i class="fa fa-lock"></i>
                    <h3>Secure data</h3>
                    <p>Your notes are encrypted using AES 256 bit encryption. No one can read them without the password.</p>
                </div>
                <div class="col-4 feature">
                    <i class="fa fa-tag"></i>
                    <h3>Stay Organized</h3>
                    <p>Add tags to find notes quickly with instant searching.</p>
                </div>
                <div class="col-4 feature">
                    <i class="fa-solid fa-clock-rotate-left"></i>
                    <h3>Go back in time</h3>
                    <p>Notes are saved with every change, so you can see what you noted last week or last month.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-4 feature">
                    <i class="fa-solid fa-envelope-open-text"></i>
                    <h3>Support</h3>
                    <p>Ask for help if needed, email us.</p>
                </div>
                <div class="col-4 feature">
                    <i class="fa-solid fa-circle-info"></i>
                    <h3>Free</h3>
                    <p>Completely free of cost.</p>
                </div>
            </div>
        </div>
        <div class="features-btn">
            <a href="/auth/google" class="hero-btn">Try Notes now</a>
        </div>
    </section>
</main>