:root{
    --back-color: #111111;
    --text-color: #f0f0f0;
    --poppins: 'Roboto', 'sans-serif';
}
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
body::-webkit-scrollbar{
    display: none;
}
body{
    background-color: black;
    color: var(--text-color);
}

.dashboard{
    box-sizing: border-box;
    padding: 10px 0;
    min-height: 400px;
    display: grid;
    justify-items: center;
}
.inner-dashboard{
    width: 90%;
    box-sizing: border-box;
}
.inner-dashboard .user-title{
    display: flex;
    justify-content: space-between;
}
.inner-dashboard .user-title h1{
    color: var(--text-color);
    font-size: 1.5rem;
    text-shadow: 0px 0px 3px currentColor;
}
.new-note{
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    box-sizing: border-box;
    padding: 8px 7px;
    border: none;
    background-size: 300% 100%;
    border-radius: 10px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(
    to right,
    #29323c,
    #485563,
    #2b5876,
    #4e4376
  );
  text-align: center;
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
.new-note:hover{
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.cancel{
    background: var(--text-color) !important;
    color: black;
}
.close-button{ /* inside modal */
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 999;
    cursor: pointer;
    text-align: center;
    font-family: 'FontAwesome';
    font-size: 1.1em;
}


.parent-note{
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notes-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    box-sizing: border-box;
    padding: 10px;
}
.notes-wrapper .note{
    min-width: 300px;
    max-width: 300px;
    height: fit-content;
    box-shadow: 0px 0px 10px white;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
    transform: translateZ(60px);
    transform-style: preserve-3d;
    min-height: 150px;
}
.notes-wrapper .search-note{
    min-height: 50px;
}
.note a{
    color: var(--text-color);
}
.note .note-title{
    font-size: 1.5rem;
    margin-bottom: 5px;
    border-bottom: 2px solid grey;
}
.note .note-body{
    color: rgb(240, 240, 240);
    font-size: 1.1rem;
}
.blank-notes{
    font-size: 1.2rem;
    display: grid;
    gap: 10px;
    place-items: center;
}
.disabled{
    pointer-events: none;
}
.pagination-parent{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.pagination-parent .pagination{
    display: flex;
}
.pagination .page-item{
    min-width: 30px;
    height: 30px;
    padding: 3px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--text-color);
}
.pagination .page-item .page-link{
    color: var(--text-color);
}
.inner-dashboard .new-note-panel{
    color: var(--text-color);
    width: 100%;
    min-height: 200px;
    display: grid;
    justify-items: center;
    margin-top: 10px;
}
.buttons{
    width: 60%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.new-note-panel form{
    width: 60%;
    box-shadow: 0px 0px 5px 0px white,
    0px 0px 5px 0px gray,
    0px 0px 5px 0px rgb(185, 183, 183);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
}
.new-note-panel form .title{
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 0 4px 15px currentColor;
    font-weight: 700;
}
.new-note-panel form .input-wrapper{
    margin: 10px 0;
    box-sizing: border-box;
    padding: 10px;
}
form .input-wrapper input,
form .input-wrapper textarea{
    border: 1px solid var(--text-color);
    color: var(--back-color);
    font-family: var(--poppins);
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    resize: none;
}
form .input-wrapper label{
    display: block;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 1px;
}
form .input-wrapper textarea{
    min-height: 100px;
}
form .input-wrapper textarea::-webkit-scrollbar{
    border-radius: 10px;
    background-color: white;
}
form .input-wrapper textarea::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: 10px;
}

form .input-wrapper input:focus,
form .input-wrapper textarea:focus{
    outline: none;
    font-size: 1.1rem;
    box-shadow: 0px 0px 2px 0px white,
    0px 0px 2px 0px gray,
    0px 0px 2px 0px rgb(185, 183, 183);
}


.modal{
    position: fixed; 
    z-index: 3;
    left: 0;
    top: -100%;
    width: 100%; 
    height: 100%;
    overflow: auto;
    display: grid;
    justify-items: center;
    transition: all ease-in-out 0.4s;
}
.modal .modal-content{
    width: 50%;
    height: fit-content;
    background-color: rgba(0,0,0,0.9);
    backdrop-filter: blur(50px);
    box-shadow: 0px 0px 10px white;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 2rem;
}
.modal-content p{
    text-align: center;
    position: relative;
    margin: 20px 0;
}
.modal-content .modal-buttons{
    display: flex;
    justify-content: right;
}
.modal.active{
    top: 0;
}



@media (max-width: 768px){
    .new-note-panel form, .buttons, .modal .modal-content{
        width: 80%;
    }
    .modal .modal-content{
        font-size: 1.5rem;
    }
}
@media (max-width: 480px){
    .new-note-panel form, .buttons, .modal .modal-content{
        width: 100%;
    }
    .modal .modal-content{
        font-size: 1rem;
    }
}